<!-- /templates/cart.liquid -->
{% comment %}

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}

<h1 class="page-header cart-header">{{ 'cart.general.title' | t }}</h1>

{% if cart.item_count > 0 %}
  <form method="post" action="/cart" id="cart-form" class="cart-form">
    <ul class="cart-items">
      {% for item in cart.items %}

        <li class="cart-item">
          <a class="cart-item__image" href="{{ item.url | within: collections.all }}">
            <img src="{{ item | img_url: 'grande' }}" alt="{{ item.title | escape }}">
          </a>
          <div class="cart-item__details">
            <a href="{{ item.product.url }}">
              {{ item.product.title }}
              {% unless item.variant.title contains 'Default' %}
                <small>{{ item.variant.title }}</small>
              {% endunless %}
              <span class="price">{{ item.price | money }}</span>
            </a>
            <input type="number" name="updates[]" id="updates_{{ item.key }}" data-id="{{ item.key }}" value="{{ item.quantity }}" min="0">
          </div>
          <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart-item__remove">
            <span class="icon-x"></span>
          </a>
        </li>
      {% endfor %}
    </ul>
    <div class="cart-footer">
      <textarea class="cart-footer__note" name="note" placeholder="{{ 'cart.general.note' | t }}">{{ cart.note }}</textarea>
      <p class="cart-footer__subtotal">
        <em>{{ 'cart.general.subtotal' | t }}</em>
        <span>{{ cart.total_price | money }}</span>
      </p>
    </div>
    <div class="cart-actions-container">
      <div id="ShippingRatesSlideout" class="shipping-rates-slideout">
        <div class="shipping-rates-slideout__header">
          <h6>{{ 'cart.shipping_calculator.calculate_shipping' | t }}</h6>
          <a class="icon-x js-shipping-rates-slideout-close" href="#"></a>
        </div>
        <div class="shipping-rates-slideout__content">
          {% include 'shipping-calculator' %}
        </div>
      </div>

      <div id="CartActions" class="cart-actions">

        <div class="shipping-calculator-buttons">
          <a class="shipping-calculator-buttons__cancel js-shipping-rates-slideout-close" href="#">{{ 'cart.shipping_calculator.cancel' | t }}</a>
          <a id="get-rates-submit" class="get-rates styled-submit shipping-calculator-buttons__submit" value="">{{ 'cart.shipping_calculator.submit' | t }}</a>
        </div>

        <a class="calculate-shipping-button js-shipping-rates-slideout-open" href="#">{{ 'cart.shipping_calculator.calculate_shipping' | t }}</a>

        <button class="checkout-button" type="submit" name="checkout">
          <span class="checkout-button__text">{{ 'cart.general.checkout' | t }}</span>
          <span class="checkout-button__subtotal">{{ cart.total_price | money }}</span>
        </button>
      </div>
    </div>
  </form>
{% else %}
  <div class="cart-empty-message">
    <p>{{ 'cart.general.empty' | t }}</p>
  </div>
{% endif %}
