<!-- /snippets/templates.liquid -->
<script id="JsQty" type="text/template">
{% raw %}
  <div class="js-qty">
    <button type="button" class="js-qty__adjust js-qty__adjust--minus" data-id="{{key}}" data-qty="{{itemMinus}}">
      <span class="icon-minus" aria-hidden="true"></span>
    </button>
    <input type="text" class="js-qty__num" value="{{itemQty}}" min="1" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
    <button type="button" class="js-qty__adjust js-qty__adjust--plus" data-id="{{key}}" data-qty="{{itemAdd}}">
      <span class="icon-plus" aria-hidden="true"></span>
    </button>
  </div>
{% endraw %}
</script>
